@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -2.875rem;}
  30% {margin-top: -2.875rem;}
  40% {margin-top: -5.75rem;}
  60% {margin-top: -5.75rem;}
  70% {margin-top: -2.875rem;}
  80% {margin-top: -2.875rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

.article {
  @apply text-lg md:text-xl leading-snug text-slate-200 mb-4;
}

.article h1 {
  @apply text-xl md:text-2xl font-bold leading-snug text-slate-200 mb-4 uppercase;
}
